* {

}

/* ELEMENT SELECTORS */

header {
    background-color: rgb(22, 42, 79);
    color: #92cccd;
    margin-bottom: 50px;
}

header h1 {
    display: inline-flex;
    background-color: #92cccd;
    color: rgb(49 52 61);
    padding: 31px 57px 22px 78px;
    margin: 20px 0;
    font-size: 3em;


}

h2 {
    float: right bottom;
    display: flex;
    text-justify: right;
}


nav {
    float: right;
    padding: 27px 36px 0;
    margin-top: 37px;
}

nav li {
    display: inline-block;
    margin-right: 60px;
    list-style: none;
    font-size: 1.5em;
}

nav a {
    text-underline-offset: 10px;
    color: #92cccd;

}

body {
    background-color: rgb(22, 42, 79);
    color: #92cccd;
    flex-wrap: wrap;
}


p {
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    padding-top: 0;
    line-height: 2;

}

article {
    margin-left: 80px;
    width: 70%;
    background-image: url(./Screenshot\ at\ Jan\ 09\ 17-31-58.png);
    background-blend-mode: soft-light;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 25px;
    flex-wrap: wrap;
}


div {
    display: flex;
    flex-wrap: wrap;
    margin-left: 250px;
}



article h4 {
    background-color: #92cccd;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    color: rgb(22, 42, 79);
    font-size: 40px;
    padding-top: 20px;
    text-align: center;


}

h5 {
    margin: 25px;
    margin-left: 50px;
    font-weight: lighter;
}

a {
    text-decoration: none;
}

h4 a {
    border: 5px solid #92cccd;
    text-decoration: none;
    background-color: #92cccd;
    color: rgb(22, 42, 79);
    border-radius: 25px;
}


article:hover {
    opacity: .5;
}

h5:hover {
    font-size: larger;
    text-decoration:underline;
}


/* BEGIN CLASS SELECTORS */

.recent-avatar {
    background-image: linear-gradient(to right, rgb(22, 42, 79), white), url("./meandkitty.jpeg");
    object-fit: fill;
    height: 350px;
    background-repeat: no-repeat;
    background-position: center top;
    background-blend-mode: darken;
    margin-bottom: 25px;

}

.about-me {
    margin-top: 70px;
    height: 150px;
    padding: 10px;
    display: flex;
    flex-direction: row;


}

.projects {
    margin-top: 70px;
    height: 450px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;


}



.contact {
    height: 250px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 200px;
}

.about-me h1 {
    padding-left: 50px;
    padding-top: 0;
    padding-right: 20px;
    display: flex;
  
    flex-wrap: wrap;
    font-size: 2em;
    text-align: right;
    font-weight: lighter;
    border-right: 10px solid #92cccd;
}

.projects h1 {
    height: 400px;
    padding-left: 50px;
    padding-top: 0;
    padding-right: 15px;
    display: flex;
    flex-wrap: wrap;
    font-size: 2em;
    text-align: right;
    font-weight: lighter;
    border-right: 10px solid #92cccd;


}

.contact h1 {
    height: 150px;
    padding-left: 0;
    padding-top: 0;
    padding-right: 10px;
    display: flex;
    flex-wrap: wrap;
    font-size: 2em;
    text-align: right;
    font-weight: lighter;
    border-right: 10px solid #92cccd;
}

.second-project {
    height: 200px;
    background-image: url(Screenshot\ at\ Jan\ 09\ 20-16-18.png);
    background-size: contain;
    margin-left: 15px;
    margin-right: 75px;
    width: 300px;
    text-align: center;
    color: rgb(0, 0, 5);
    border-radius: 25px;
    font-size: 28px;
    flex-wrap: wrap;


}

.second-project:hover {
    opacity: .5;
}

.third-project {
    background-image: url(images.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 15px;
    margin-right: 75px;
    width: 300px;
    text-align: center;
    border-radius: 25px;
    font-size: 28px;
    color: rgb(1, 1, 14);
    flex-wrap: wrap;

}

.third-project:hover {
    opacity: .5;
}

.fourth-project {
    background-image: url(download.jpeg);
    background-size: cover;

    margin-left: 15px;
    width: 300px;
    text-align: center;
    border-radius: 25px;
    font-size: 28px;
    color: rgb(1, 1, 7);
    flex-wrap: wrap;
}

.fourth-project:hover {
    opacity: .5;
}
    /* flex-direction to stack  */


@media screen and (max-width: 768px) {
   
    header,
    nav,
    main,
    section,
    .projects,
    article,
    div,
     {
      flex-direction: column;
    }


}
