* {
    /* border: 3px solid red; */
}

header {
    background-color: rgb(22, 42, 79);
    color: #92cccd;
    margin-bottom: 50px;
}

header h1 {
    display: inline-flex;
    background-color: #92cccd;
    color: rgb(49 52 61);
    padding: 31px 57px 22px 78px;
    margin: 20px 0;
    font-size: 3em;


}

h2 {
    float: right bottom;
    display: flex;
    text-justify: right;
}


nav {
    float: right;
    padding: 27px 36px 0;
    margin-top: 37px;
}

nav li {
    display: inline-block;
    margin-right: 60px;
    list-style: none;
    font-size: 1.5em;
}

nav a {
    text-underline-offset: 10px;
    color: #92cccd;

}

body {
    background-color: rgb(22, 42, 79);
    color: #92cccd;
}


p {
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    padding-top: 0;

}

article {
    margin-left: 80px;
    width: 70%;
    background-image: url(./Screenshot\ at\ Jan\ 09\ 17-31-58.png);
    background-blend-mode: soft-light;
    background-size: cover;
    background-repeat: no-repeat;
}


div {
    display: flex;
    flex-wrap: wrap;
    margin-left: 250px;
}

card {
    padding: 50px;
    display: flex;
   margin-left: 80px;

}

article h4 {
    background-color: #92cccd;
    display: flex;
    margin: 0;
    color: rgb(22, 42, 79);
    font-size: 40px;
    padding-top: 20px;


}

a {
    text-decoration: none;
}





.recent-avatar {
    background-image: linear-gradient(to right, rgb(22, 42, 79), white), url("./meandkitty.jpeg");
    object-fit: fill;
    height: 250px;
    background-repeat: no-repeat;
    background-position: center top;
    background-blend-mode: hard-light;
    margin-bottom: 25px;

}

.about-me {
    height: 150px;
    padding: 10px;
    display: flex;


}

.projects {
    height: 450px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;


}

.contact {
    height: 100px;
    padding: 10px;
    display: flex;
}

.about-me h1 {
    padding-left: 50px;
    padding-top: 0;
    padding-right: 10px;
    display: flex;
    flex-wrap: wrap;
    font-size: 2em;
    ;
    text-align: right;
    font-weight: lighter;
    border-right: 10px solid #92cccd;
}

.projects h1 {
    padding-left: 50px;
    padding-top: 0;
    padding-right: 10px;
    display: flex;
    flex-wrap: wrap;
    font-size: 2em;
    ;
    text-align: right;
    font-weight: lighter;
    min-width: ;
    border-right: 10px solid #92cccd;


}

.contact h1 {
    padding-left: 50px;
    padding-top: 0;
    padding-right: 10px;
    display: flex;
    flex-wrap: wrap;
    font-size: 2em;
    ;
    text-align: right;
    font-weight: lighter;
    border-right: 10px solid #92cccd;
}